body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    background-color: papayawhip ;
}

nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#fafafa;
}

.logo{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
.content{
  margin-top: 0%;
  max-width: 600px;
  animation-delay: 0.5s;
}
.content h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: #333;
  text-align: center;

}
.content p{
  margin: 10px 0 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #222;
  text-align: center;
  animation-delay: 1s;
}

.content .btn {
  padding: 15px 80px;
  font-size: 16px;
}
.feature-img{
  width: 530px;
  position: absolute;
  bottom: 0;
  right: 5%;
  border: 2px solid black;
  border-radius: 10px;

}
.div {
  margin-top: 10%;
  max-width: 600px;
}
.div p{
 margin: 10px 0 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: black;
 text-align: left;
 font-size: 20px;
}
.div li{
  margin: 10px 0 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #222;
  text-align: left;
}
.animation{
  opacity: 2;
  transform: translate(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100%{
    opacity: 1;
    transform: translate(30px);
  }
  
}
.videocontent{
  margin-top: 10%;
  max-width: 600px;
}
.videocontent p{
  margin: 10px 0 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #222;
   font-size: 30px;
  display: flex;
  justify-content: right;
  align-items: right;
}
  .videocontent h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
  }
.videocontent p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #333;
  text-align: right;
}
.iframe{
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;

}
.form quiz{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
}
.form quiz p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
}
.quiz question {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
}