body{
    background-color: whitesmoke;
}
ul h1{
    color: whitesmoke;
   float: left;
   padding: 14px 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 10;
  width: 100%;
}
a {
  color: white;
  float: right;
  padding: 14px 16px;
  text-decoration: none;
}

  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  p{
    text-align: center;
  }
signup{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}